/target/
!.mvn/wrapper/maven-wrapper.jar


*.lnk
target/
.idea/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/resources/static/emoji
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

aliyunOSS.csv
*.txt

/src/main/resources/static/emoji/
/src/main/resources/static/lib/