<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>404 | 书法网页出现错误</title>
</head>
<body>
<div id="app">
    <div id="main">
        <div class="error404Page">
            <img src="img/errorpage/404.png"/>
        </div>
        <div class="errorWords">
            <div class="errorWords_display">
                <p>由于天气原因，这个页面已经去南极避暑了</p>
                <p><a href="/"><u>返回首页</u></a><a href="#" style="margin-left: 30px"></a></p>
            </div>
        </div>
    </div>
</div>

<script src="js/all.js"></script>
</body>
</html>